h1,
h2,
h3,
h4,
p {
    font-family: 'Montserrat', sans-serif !important;
}

h1 {
    color: #1A1E37 !important;
    font-size: 1.000em !important;
}



.btn-primary {
  color: white;
  background-color: #4cd964;
  border-color: #4cd964;
  font-size: 24px;
}

.btn-primary.active, .btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:active:focus {
  color: white;
  background-color: #28a745;
  border-color: #4cd964;
}


p{
  color: #1bc5ee !important;
  font-weight: 600 !important;
}
.background-bg {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-position: right;
    z-index: 1;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
}

.znav-container:not([class*="sticky-"]) {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1030;
    background: #ffffff;
    

}

.logo_brand {
    width: 90%;
}

.f-right {
    float: right !important;
}

.f-left {
    float: left !important;
}

.bshadow {
    box-shadow: -2px 7px 46px -6px rgba(220, 227, 227, 1);
}

.inshadow {
    background-color: #f9f9f9;
}


.btn-danger {
  color: white;
  background-color: #FC6E50;
  border-color: #FC6E50;
}

  .btn-danger:hover, .btn-danger:active, .btn-danger:focus, .btn-danger:active:focus {
    color: white;
    background-color: #D44F44;
    border-color: #D44F44; 
  }


hr{
  border:0;
  height:36px;
  background:url("../images/sep-line.png");

}

.sp-line{

  width: 65% !important;
}

output {
  display: block;
  text-align: center;
  position: relative;
  top: 30px;
}
  
  /* .rangeslider,
  .rangeslider__fill {
    transition: background 0.3s;
  } */
  
  /* .rangeslider--is-lowest-value {
    background-color: white;
  } */
  
 
  .rangeslider {
  background-color:#e9eff4;
} 

.rangeslider__fill {
  position: absolute !important;
  top: 0;
  /* z-index: 1; */
  height: 100% !important;
  background-color:#FC6E50 !important;
  border-radius: 5px !important;
}


   .rangeslider__handle {
  /* transition: background-color .2s;
  box-sizing: border-box; */
  width: 80px !important;
  height: 80px !important;
  border-radius: 100% !important;
  touch-action: pan-y !important;
  cursor: pointer !important;
  display: inline-block !important;
  position: absolute !important;
  z-index: 3 !important;
  top: -30px !important;
  width: 80px !important;
  height: 80px !important;
  background: #FC6E50 url("../images/bizzy-icon.svg") no-repeat center center !important;

} 
.rangeslider__handle:active {
  background: #FC6E50 url("../images/bizzy-icon.svg") no-repeat center center !important;
}
 .rangeslider__handle__value {
       /* background: #FC6E50 url("bizzy-icon.svg") no-repeat center center; */
  /* transition: background-color .2s,  box-shadow .1s, transform .1s; */
  /* box-sizing: border-box; */
  width: 90px !important;
  text-align: center !important;
  padding: 10px !important;
  /* background-color: #0099FF; */
  /* border-radius: 5px; */
  /* color: white; */
  left: -35px !important;
  position: absolute !important;
  white-space: nowrap !important;
  /* border-top: 1px solid #007acc; */
  /* box-shadow: 0 -4px 1px rgba(0, 0, 0, 0.07), 0 -5px 20px rgba(0, 0, 0, 0.3); */
  background: #FC6E50 url("../images/bizzy-icon.svg") no-repeat center center !important;

}


.rangeslider__handle__value:before {
  /* transition: border-top-color .2s; */
  position: absolute !important;
  bottom: -10px !important;
  left: calc(50% - 10px) !important;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid;
  background: #FC6E50 url("../images/bizzy-icon.svg") no-repeat center center;
}















      /* xs */
.background-bg {
  width: 100px;
  height: auto;
}

/* sm */
@media (min-width: 768px) {
  .background-bg  {
      width: 150px;
  }
  
}
/* md */
@media (min-width: 992px) {
  .background-bg  {
      width: 1500px;
  }
}
/* lg */
@media (min-width: 1200px) {
  .background-bg  {
      width: 100%;
  }
}